.*
.DS_Store
*.coverage
*.egg-info
*.log
*.swp
*.pyc
*.pyo
*.zip
*/files/*
*/tmp/*
*.hwm*
*.cfg
*.out
.svn

bin
lib
cpp
*/lib/*
installed
patched
wiped
msg_gen
srv_gen
doc/html
*sublime-workspace
*.user
*.suo
*.sdf
*.opensdf
ipch
Debug
Release
CMakeLists.text.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
